@tailwind base;
@tailwind components;
@tailwind utilities;

:-webkit-scrollbar-track {
  background-color: #e31b1b;
}

::-webkit-scrollbar-thumb {
  background-color: #2f2c2d;
}

::-webkit-scrollbar-thumb:hover {
  background-color: ##2f2c2d;
}

::-webkit-scrollbar-track:hover {
  background-color: ##2f2c2d;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 4px;
  height: 6px;
}

html,
body {
  background-color: #000000;
  color: white;
  font-family: "Open Sans", sans-serif;
}

h1 {
  @apply text-3xl font-bold mb-4;
}

p {
  @apply mb-4;
}

ul {
  @apply list-disc list-inside;
}

strong {
  @apply font-bold text-indigo-400;
}

em {
  @apply italic text-pink-500;
}

.btn-primary {
  @apply bg-indigo-500 text-white font-bold py-2 px-4 rounded-xl hover:bg-indigo-700 transition-all duration-200 ease-in-out;
}

.btn-primary:disabled {
  @apply bg-indigo-500 text-white font-bold py-2 px-4 rounded-xl opacity-50 cursor-not-allowed;
}

.chat-container {
  @apply flex flex-col flex-auto flex-shrink-0 rounded-2xl  bg-opacity-5 h-full pl-4;
}

.chat-messages {
  @apply flex flex-col h-full overflow-x-auto mb-4 overflow-y-auto;
}

/* Animations */

.fade-in {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
